
body{ 
  background-image:url('images/background-0842.gif');
	background-color: #ffffcc;
	font-style: none;
	font-weight: none
	color: black;
	height:100%;
	/*border: 1px solid; */

}

.center_box {
	width: 268px;
    height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -150px;
    text-align: center;
}

#bottom {
	 padding-top: 400px;
}

#message {
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
	height:350px;
	width:500px;

}

#subscribers, #subject{
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
	width:500px;

}

.label{
	border-width: thin;
	padding: 3px;
	width:230px;

}

#btn{
	padding: 3px;
	width:112px;
}

#selectList{
	border-color: black;
	border-style: solid;
	border-width: thin;
	padding: 3px;
	width:229px;
}

#createNewList, #addNewEmail{
	height:30px;
	width:89px;
}



#a {
	
}

.alert
{
    font-size: 1.3em;
    padding: 1em;
    text-align: center;
    white-space: nowrap;
    width: auto;
    word-wrap: normal;
}


#box{
	margin: 10px;
    border: 1px solid;
    padding: 10px;
}

#wrap{
	width: 960px;
    background-color: #ffffcc;
    margin: 0px auto;
}

#header{
	margin: 0px;
	background-color: #ffffcc;
}

#header h1{
	margin: 0px;
}

#navigation {  
    margin: 0px;
	background-color: #666666;
}

#navigation h1 {
	margin: 0px;
}

#navigation ul{
	margin: 0px;
    padding: 0px;
}

#navigation li{
	display: inline;
    margin-left: 5px;
}

#left {
    float: left; 
	background-color: #ffffcc; 
	width: 600px; 
	height: 100%;
}

#main {
	float: left;
    width:180px;
    height: 100%;;
    background-color: #ffffcc;
    margin: 0px;
}

#sidebar {
	float: left;
    width:180px;
    height: 100%;;
	background-color: #ffffcc;
    margin: 0px;
}

 

#footer {
	background-color: #ffffcc;
	clear: both;
    margin: 0px;
}





 
